@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Roboto:wght@300&display=swap");

a {
  color: #0f94ff;
}

.button-container {
  width: 100%;
  text-align: center;
}

.logout-btn {
  font-size: 14px;
  width: 4.5rem;
  height: 2.5rem;
  color: #0f94ff;
  background-color: #161616;
  border: 1px solid #0f94ff;
  cursor: pointer;
  margin-top: 20px;
}

.logout-btn:focus {
  color: #161616;
  background-color: #0f94ff;
  border: 1px solid #0f94ff;
}

.error {
  color: red;
  font-weight: bold;
  text-align: center;
}
