* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: 14px;
  font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #080808;
}

main {
  height: 80vh;
}

#main-container {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
